article {
  max-width: 590px;
  width: 90%;
}

.div-conteudo img {
  width: 60%;
}

.div-conteudo {
  max-width: 590px;
  width: 99%;
  float: left;
}

.tabela-conteudo {
  max-width: 590px;
  width: 98.8%;
  float: left;
}

#banner-hmfomt {
  display: none;
}

#banner-hmfomt-590px {
  max-width: 590px;
  width: 100%;
  display: block;
}


/***** MENU *****/
.menu ul li {
    font-size: 0.47em;
}