#capa-hmfomt {
  max-width: 920px;
  width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}

/***** MENU *****/

.menu {
  max-width: 1020px;
  width: 100%
}

.menu ul li {
    font-size: 0.4em;
    float: left;
    display: inline;
    max-width: 225px;
    width: 100%;
    height: 35px;;
}

.menu ul li a {
  display: block;
  color: white;
  height: 35px;
}